<div class="container-fluid">
  <div class="row justify-content-center align-items-center top-margin">
    <div class="col-4">
      <mat-card text-center style="margin-top: 100px;">
        <mat-card-content style="text-align: center;">
          <mat-card class="bgcolor">
            <mat-card-content class="text-center">
              <h3>Forget Password</h3>
            </mat-card-content>
          </mat-card>
          <form [formGroup]="forgetPasswordForm" (ngSubmit)="resetPassword()">
            <mat-form-field class="example-full-width w-100 mt-5">
              <input matInput type="email" placeholder="Email" formControlName="email">
              <mat-error *ngIf="forgetPasswordForm.get('email')?.errors?.required">Email is required</mat-error>
              <mat-error *ngIf="forgetPasswordForm.get('email')?.errors?.email">Please enter a valid email address</mat-error> 
            </mat-form-field>
            <div *ngIf="isEmailExistError" class="error-message">Email Not Found!</div>
            <button mat-raised-button color="primary">Send OTP</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
