.example-spacer {
    flex: 1 1 auto;
  }
  .loader-container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 999;
  }
  .topbar{
    position: fixed;
    z-index: 999;
  }