.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  
  
  .example-full-width {
    width: 100%;
  }
  .heading{
    color: cadetblue;
    font-size:x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .logo{
    width: 150px;
    text-align: center;
    border-radius: 50%;
}