<div class="container-fluid">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-3">
            <mat-card class="margin">
                <!-- <mat-card-header class="pageNotFound">404-Page Not Found !</mat-card-header> -->
                
                <!-- <img mat-card-image src="../.././../assets/pageNotFound1.jpg"> -->
                <img mat-card-image src="https://cdnl.iconscout.com/lottie/premium/thumb/404-error-page-3959260-3299959.gif">
                <!-- <mat-card-content>
                    <p>Check the url or try again later</p>
                </mat-card-content> -->
            </mat-card>
        </div>
    </div>
</div>