.bgcolor{
    color: #fff;
    background-color: #6e6cec;
}
example-full-width{
    margin-right: 12px;
}

.error-message {
    color: red;
    margin-top: 5px;
  }
  .form-group{
    width: 100%;
  }