<div class="row justify-content-center mt-3">
  <div class="col-3">
    <mat-card style="margin-top: 100px;">
      <mat-card-content>
        <mat-card class="bgcolor">
          <mat-card-content class="text-center">
            <h3>Reset Password</h3>
          </mat-card-content>
        </mat-card>

        <form [formGroup]="ResetPasswordData" (ngSubmit)="ResetPassword()" class="form">
          <div class="form-group mt-4">
            <mat-form-field class="w-100 ">
              <input matInput type="text" placeholder="Enter OTP" formControlName="Otp">
              <mat-error *ngIf="ResetPasswordData.get('Otp')?.hasError('required')">OTP is required</mat-error>
            </mat-form-field>
            <div *ngIf="invalidOTPError" class="error-message">Invalid OTP</div>
          </div>

          <div class="form-group mt-3">
            <mat-form-field class="w-100">
              <input matInput type="password" placeholder="New Password" formControlName="Password">
              <mat-error *ngIf="ResetPasswordData.get('Password')?.hasError('required')">Password is required</mat-error>
              <mat-error *ngIf="ResetPasswordData.get('Password').hasError('pattern')">Password should contain at least one letter, one digit, and one special character.</mat-error>
            </mat-form-field>
          </div>

          <div class="form-group mt-4">
            <mat-form-field class="w-100">
              <input matInput type="password" placeholder="Re-enter Password" formControlName="ConfirmPassword">
              <mat-error *ngIf="ResetPasswordData.get('ConfirmPassword')?.hasError('required')">Confirm Password required</mat-error>
              <mat-error *ngIf="ResetPasswordData.get('ConfirmPassword').errors?.confirmPasswordMismatch">Password do not match</mat-error>
            </mat-form-field>
          </div>

          <div class="form-group  text-center ">
            <button mat-raised-button color="warn">Reset</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>














<!-- <div class="row">
    <div class="col-6">
    <mat-card>
      <mat-card-content>
        <mat-card class="bgcolor">
          <mat-card-content class="text-center">
            <h3>Reset Password</h3>
          </mat-card-content>
        </mat-card>
  
        <form [formGroup]="ResetPasswordData" (ngSubmit)="ResetPassword()" class="form">
          <mat-form-field >
            <input matInput type="text" placeholder=" Enter OTP" formControlName="Otp">
            <mat-error *ngIf="ResetPasswordData.get('Otp')?.hasError('required')">OTP is
                required</mat-error>
          </mat-form-field>
          <div *ngIf="invalidOTPError" class="error-message">
            Invalid OTP
          </div>
  
          <mat-form-field>
            
            <input matInput type="password" placeholder="New Password" formControlName="Password">
            <mat-error *ngIf="ResetPasswordData.get('Password')?.hasError('required')">Password is
                required
            </mat-error>
            <mat-error *ngIf="ResetPasswordData.get('Password').hasError('pattern')">Password should contain at least one letter, one digit, and one special character.</mat-error>

            
          </mat-form-field>
  
          <mat-form-field>
            <input matInput type="password"  placeholder="Re-enter Password" formControlName="ConfirmPassword">
            <mat-error *ngIf="ResetPasswordData.get('ConfirmPassword')?.hasError('required')">Confirm Password 
                required</mat-error>
            <mat-error *ngIf="ResetPasswordData.get('ConfirmPassword').errors?.confirmPasswordMismatch"> Password do not match 

            </mat-error>
          </mat-form-field>
  
          <button mat-raised-button color="warn">Reset</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->
  